*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


.thanks{
    background:rgb(254, 199, 8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner{
    margin-top: -250px;
}


.thanks_1{
    margin: 5%;
    text-align: center;
}

.thanks_3{
    margin-top: 5%;
    text-align: center;
}

.loader_s{
    display: flex;
    justify-content: center;
}

.loader {
    border: 8px solid rgb(242, 109,14); 
    border-radius: 25%;
    width: 20px;
    height: 20px;
    animation: spin 4s linear infinite;
}

h1{
    font-size: 34pt;
}
h2{
    font-size: 18pt;
}

  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
